body {
  text-align: justify;
}
/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}
li {
    float: left;
}*/
/*
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}*/

li a:hover,
.dropdown:hover .dropbtn {
  background-color: #3ead47;
  color: white;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  color: white;
}

.dropdown-content a:hover {
  background-color: #3ead47;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*estilos header*/
.headerlogopag {
  width: 100%;
  height: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
  position: fixed;
  background: white;
  border-bottom: 8px solid #4caf50;
}
.headerlogopag img {
  width: 100%;
  height: 100px;
  position: fixed;
  border-bottom: 8px solid #4caf50;
}

header {
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  position: fixed;
  z-index: 100;
  margin-top: 108px;
}

.contenido {
  padding-top: 200px;
}

.wrapper {
  width: 90%;
  margin: auto;
  overflow: hidden;
  position: center;
}

nav {
  margin-top: 0px;
  float: right;
}

nav ul {
  list-style: none;
  overflow: hidden;
}

nav ul li {
  float: right;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

nav ul li a {
  display: block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}

nav ul li:hover {
  background: #3ead47;
}

/* fin header*/
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: green;
}

.headerlogo {
  width: 100%;
  height: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.headerlogo img {
  width: 100%;
  height: 100px;
  border-bottom: 8px solid #4caf50;
}

.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: auto;
  width: 300px;
  margin-top: 100px;
}

label {
  display: inline-block;
}

.formularios {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: auto;
  width: 500px;
  margin-top: 0px;
  margin-bottom: 100px;
}
.btn:hover {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

.btn {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.btn1 {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.error {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  text-align: center;
  align-items: center;
}

.correcto {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  text-align: center;
  align-items: center;
}

/* MENSAJE DE BIENVENIDA */

.mbienvenida {
  background-color: #3ead47;
  padding: 20px;
  color: white;
  height: 200px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}

.mcorreo {
  background-color: #3ead47;
  padding: 20px;
  color: white;
  height: 200px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}

.principal {
  margin-bottom: 150px;
}
