.formulario {
  margin-left: 200px;
}

table {
  margin: auto;
  text-align: center;
}

h1 {
  margin: 25px auto 0;
  text-align: left;
  text-transform: uppercase;
  font-size: 20px;
}

table td {
  transition: all 0.5s;
}

/* Table */
.tabla_datos {
  border-collapse: collapse;
  font-size: 16px;
  width: 80%;
}

.tabla_datos th,
.tabla_datos td {
  border: 2px solid #4caf50;
  padding: 3px 17px;
}
.tabla_datos caption {
  margin: 7px;
}

/* Table Header */
#titulo {
  background-color: #4caf50;
  color: #ffffff;
  border-color: #6ea1cc !important;
  text-transform: uppercase;
}

/* Table Body */
.tabla_datos tbody td {
  color: #353535;
}
.tabla_datos tbody td:first-child,
.tabla_datos tbody td:nth-child(even),
.tabla_datos tbody td:last-child {
  text-align: center;
  background: #f2f2f2;
}

.tabla_datos tbody tr:nth-child(odd) td {
  background-color: #f4fbff;
}
.tabla_datos tbody tr:hover td {
  background-color: #3ead47;
  border-color: #fff;
  color: #fff;
}

/* Table Footer */
.tabla_datos tfoot th {
  background-color: #e5f5ff;
  text-align: center;
}
.tabla_datos tfoot th:first-child {
  text-align: center;
}
.tabla_datos tbody td:empty {
  background-color: #ffcccc;
}
